<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CliWrap" version="2.5.0" targetFramework="net452" />
  <package id="FParsec" version="1.0.3" targetFramework="net452" />
  <package id="FSharp.Core" version="4.3.4" targetFramework="net452" />
  <package id="HtmlAgilityPack" version="1.11.17" targetFramework="net452" />
  <package id="LtGt" version="1.0.2" targetFramework="net452" />
  <package id="NAudio" version="1.9.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net452" />
  <package id="Sprache" version="2.2.0" targetFramework="net452" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net452" requireReinstallation="true" />
  <package id="taglib" version="2.1.0.0" targetFramework="net452" />
  <package id="Tyrrrz.Extensions" version="1.6.5" targetFramework="net452" />
  <package id="YoutubeExplode" version="4.7.12" targetFramework="net452" />
  <package id="YoutubeExtractor" version="0.10.11" targetFramework="net452" />
</packages>